name: "Mi Stack favorito"

services:
  mongo:
    image: mongo:8
    container_name: mongo8
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ./mongo_data:/data/db               # Datos persistentes
      - ./mongo_backups:/backups           # Carpeta de backups en host
